@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> Universidad Graham</h1>
    <p class="lead">Sistema de gestión, puede encontrar el código en: </p>
    <p><a href="https://github.com/dwaxgio/mectronics" class="btn btn-primary btn-lg">Ver en Github &raquo;</a></p>
</div>

<div class="row">
    
</div>